.card{
    background: whitesmoke;
    border-radius: 20px;
    width: 480px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10%;
    height: 510px;
    position: relative;
}

.inputtxt{
    background: #E9E9E9;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;
    width: 230px;
}

.btngerar{
    background: #7950F2;
    border-radius: 10px;
    color: white;
    border: none;
    height: 40px;
    width: 130px;
    position: absolute;
    right: 0;
    bottom: 1em;
}

.segurando{
    position: relative;
    margin-top: 60px;
}


.centralizando{
    display: flex;
    align-items: self-end;
    position: relative;
}

.titlelista1{
    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: 10;
}
.titlelista2{
    position: relative;
    right: 80px;
}
.titlelista3{
    position: absolute;
    right: 90px;
    bottom: 0px;
    z-index: 10;
}

.thead{
    position: relative;
    display: flex;
    justify-content: center;
}
